.constructor{
    max-width: 600px;
    padding-top: 100px;
    position:relative;
    max-height: calc(100vh - 100px);
}

.ul{
   overflow-y: scroll;
   max-height: calc(100vh - 410px);
   gap: 10px;
   margin: 0px;
}

.li::marker{
    content: '::';
    color: aliceblue;
    font-size: 2em;
}

.order{
    display: flex;
    position:absolute;
    bottom:0;
    right: 30px;
}

.cost{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.top{
 margin-left: 35px;
 top: 0;
}

.bottom{
    margin-left: 35px;
    bottom: 60px;
}