.order {
    display: none;
}

.orderActive{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    height: 450px;
    padding-top: 20px;
    z-index: 11;
    margin: 25px;
    
}