.header {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    }

.elem {
    display: flex; 
    align-items: center;
    margin: 16px 8px 16px 8px;
    padding: 20px;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.icon {
    margin-right: 8px;
}

section {
  display: flex;
  justify-content: center;
}

@media (max-width: 1080px) {
   .logo {
    all: unset;
   }
}
@media (min-width: 1600px){
    .header{
    justify-content: space-around;
   }
}

.main_link{
    text-decoration:none;
    color: white;
}

.link{
    text-decoration:none;
    }

.active{
       color: white;
}